<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/awesome.css}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./../../static/form.css" th:href="@{/form.css}">
    <script src="./../../static/script.js" th:src="@{/script.js}"></script>
</head>
<body onload="floatLabel('.floatLabel')">

<form th:action="@{rent}" method="post">
    <!--  General -->
    <div class="form-group">
        <h2 th:text="'Rent movie: ' + ${movie.name}" class="heading"></h2>

        <div class="controls">
            <input type="text" id="username" class="floatLabel" required name="username">
            <label for="username">Enter name</label>
        </div>
        <div class="controls">
            <input id="disk-count" type="number" class="floatLabel" required min="1" th:max="${rentInfo.avail()}" name="disk-count" value="1">
            <label for="disk-count">Disk count</label>
        </div>
        <div class="controls">
            <input type="number" id="days" name="days" value="1" required min="1" class="floatLabel">
            <label for="days">Rent days</label>
        </div>
    </div>
    <!--  Details -->
    <div class="form-group">
        <div class="grid">
            <button type="submit" value="Submit" class="col-1-4">Submit</button>
        </div>
    </div>
</form>


</body>
</html>
