<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css"/>
    <th:block th:include="fragments/general :: head('')"/>
    <title>Return rent</title>
    <style>
        h4 {
            margin-left: 8px;
            margin-bottom: 0;
        }
        A {
            margin-left: 8px;
        }
    </style>

    <script>
        function actions(id) {
            if (confirm('Are you sure?')) {
                let input = document.getElementById("hidden-input");
                input.value = id;
                document.getElementById('hidden-form').submit();
            }
        }
    </script>
</head>

<body>
<th:block th:replace="fragments/general :: nav('')"></th:block>
<main>
    <th:block th:replace="fragments/general :: baseHeader(~{::h1},~{}, null)">
        <h1 th:text="'Return rent: ' + ${movie.name}"></h1>
    </th:block>

    <th:block th:each="kv : ${rentInfo.map}">
        <h4 th:text="'User: ' + ${kv.key.name}"/>
        <table>
            <thead>
            <tr>
                <th style="width: 5%;">Rent id</th>
                <th>Disk count</th>
                <th>Start</th>
                <th>End</th>
                <th>Return rent</th>
            </tr>
            </thead>
            <tbody th:with="now=${#temporals.createNow()}">
            <tr th:each="rent : ${kv.value}">
                <td th:text="${rent.id}"></td>
                <td th:text="${rent.diskCount}"></td>
                <td th:text="${#temporals.format(rent.start, 'dd-MM-yyyy, HH:mm')}"></td>
                <td th:styleappend="${@utils.debt(now, rent.end)} ? 'color: red;' : 'color: forestgreen;'" th:text="${#temporals.format(rent.end, 'dd-MM-yyyy, HH:mm')}"></td>
                <td><a th:attr="onclick=|actions('${rent.id}')|" class="awesome"><i class="fa fa-video-camera"></i>&nbsp;</a></td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <a style="text-decoration: underline;" th:href="@{/movie(id=${movie.id})}">Back to movie</a>
</main>
<form id='hidden-form' style="display: none" action="/rent-out" method="post">
    <input type="hidden" id="hidden-input" name="rent_id">
    <input type="hidden" name="page" th:value="${#ctx.springRequestContext.requestUri} + '?movie_id=' + ${movie.id}">
    <button type="submit" id="hidden-button"></button>
</form>
</body>
</html>