<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css"/>
    <th:block th:include="fragments/general :: head('')"/>
    <title>Users</title>
    <style>
        div.w3-theme-border > div > a.awesome {
            margin-top: 15px;
            font-size: 18px;
        }

        div.w3-theme-border > div > p {
            margin-top: 25px;
        }

        #all-profit {
            font-size: 20px;
            margin-top: 5px;
            color: darkgoldenrod;
        }
        .profit {
            color: darkgoldenrod;
        }
    </style>

    <script>
        function actions(o, id) {
            if (confirm('Are you sure?')) {
                let input = document.getElementById("hidden-input");
                input.value = id;
                let form = document.getElementById('hidden-form');
                if (o === 'u') {
                    input.name = 'user_id'
                    form.action = '/remove-user'
                } else {
                    input.name = 'rent_id'
                    form.action = '/rent-out'
                }
                form.submit();
            }
        }

        window.onload = function(evt) {
            let elementById = document.getElementById("all-profit");
            elementById.addEventListener("dblclick", (event) => {
                if (confirm("Reset profit?")) {
                    fetch('/reset-profit', {
                        method: 'POST',
                        headers: {
                            'Accept': 'text/html',
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: "reset=" + 1
                    }).then(response => {
                        location.reload();
                    })
                }
            });
        };
    </script>
</head>

<body>
<th:block th:replace="fragments/general :: nav('users')"/>
<main style="padding-left: 8px; padding-right: 8px">

    <th:block th:replace="fragments/general :: baseHeader(~{::h1},~{::#all-profit}, null)">
        <h1>Clients</h1>
        <p id="all-profit" th:inline="text">Profit: [[${profit}]]<i class="fa fa-dollar"></i></p>
    </th:block>

    <th:block th:with="now=${#temporals.createNow()}" th:each="user : ${users}">

        <div class="w3-theme-border">
            <div style="display: flex; justify-content: space-between">
                <h4><th:block th:text="'User: ' + ${user.name}"/> <span class="profit" th:if="${user.profit}" th:text="' [' + ${user.profit} + '$]' "></span></h4>
                <a class="awesome" th:attr="onclick=|actions('u','${user.id}')|"><i class="fa fa-trash-o"></i>&nbsp;</a>
            </div>

            <p th:if="${user.rents.isEmpty()}">No rents available!</p>

            <table th:if="!${user.rents.isEmpty()}">
                <thead>
                <tr>
                    <th style="width: auto">Rent id</th>
                    <th style="width: auto">Movie</th>
                    <th style="width: auto">Disk count</th>
                    <th style="width: auto">Start</th>
                    <th style="width: auto">End</th>
                    <th style="width: auto">Return rent</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rent : ${user.rents}">
                    <td th:text="${rent.id}"></td>
                    <td><a class="row" th:href="@{/movie(id=${rent.movie.id})}" th:text="${rent.movie.name}"/></td>
                    <td th:text="${rent.diskCount}"></td>
                    <td th:text="${#temporals.format(rent.start, 'dd-MM-yyyy, HH:mm')}"></td>
                    <td th:styleappend="${@utils.debt(now, rent.end)} ? 'color: red;' : 'color: forestgreen;'" th:text="${#temporals.format(rent.end, 'dd-MM-yyyy, HH:mm')}"></td>
                    <td><a th:attr="onclick=|actions('r','${rent.id}')|" class="awesome"><i class="fa fa-video-camera"></i>&nbsp;</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

</main>
<form id='hidden-form' style="display: none" method="post">
    <input type="hidden" id="hidden-input">
    <input type="hidden" name="page" th:value="${#ctx.springRequestContext.requestUri}">
    <button type="submit" id="hidden-button"></button>
</form>
</body>
</html>