@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-film:before {
    content: "\f008";
}

.fa-dollar:before,
.fa-usd:before {
    content: "\f155";
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-arrow-up:before {
    content: "\f062";
}

.fai {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    letter-spacing: -0.04rem;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    box-sizing: border-box;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    min-width: 1em;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    -webkit-font-smoothing: antialiased;
    color: #2196f3 !important;
    display: block;
    margin: 0;
    top: 0;
}

.fa-camera:before {
    content: "\f030";
}

.fa-video-camera:before {
    content: "\f03d";
}

.fa-camera-retro:before {
    content: "\f083";
}