*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4285715;
    color: #000000;
    background-color: #ededed;
    min-height: 100%
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px
}

.col-md-4 {
    width: 33.33333333%
}

.col-md-offset-4 {
    margin-left: 33.33333333%
}

.page-container {
    position: relative
}

.page-container {
    width: 100%;
    display: table;
    table-layout: fixed
}


.panel {
    margin-bottom: 20px;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.4285715;
    box-sizing: border-box;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 3px;
    margin-top: 100px;
}

.panel-default {
    border-color: transparent
}

.panel-heading {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.panel-heading {
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f6f6f6;
    border-color: #ddd
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f6f6f6;
    border-color: #ddd
}

.panel-body {
    padding: 20px;
    position: relative
}

.text-center {
    text-align: center
}

.text-muted {
    color: #777777
}

.text-size-small {
    font-size: 12px
}