:root {
    --nav-bkg-color: rgba(33, 150, 243, 0.1);
    --nav-bkg-color-current: rgba(33, 150, 243, 0.2);
    --th-bkg-color: rgba(33, 150, 243, 0.05);
    --th-border-color: rgba(33, 150, 243, 0.2);
    --td-border-color: rgba(33, 150, 243, 0.1);
    --th-color: #000;
}

nav {
    background: var(--nav-bkg-color);
    display: flex;
}

nav a {
    flex: 1;
    padding: 0.25rem;
    text-align: center;
}

nav a.current {
    background: var(--nav-bkg-color-current);
    font-weight: 600;
}

button {
    border: 0;
    cursor: pointer;
    height: 1rem;
    padding: 0;
    vertical-align: text-top;
    width: 1rem;
}

button.prev {
    margin-left: 0.5rem;
}

button.prev::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 100 100" fill="black"><path d="M65 20v60l-30-30z" /></svg>');
}

button.next {
    margin-right: 0.5rem;
}

button.next::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 100 100" fill="black"><path d="M35 20v60l30-30z" /></svg>');
}

button.disabled {
    cursor: default;
    opacity: 0.3;
}

table {
    border-collapse: collapse;
    font-size: inherit;
    line-height: inherit;
    margin-top: 0.5rem;
    table-layout: fixed;
    width: 100%;
}

table th,
table td {
    overflow: hidden;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    white-space: nowrap;
}

table th {
    border: solid var(--th-border-color);
    border-width: 1px 0;
    /*cursor: pointer;*/
    text-align: left;
    font-weight: 600;
    background-color: var(--th-bkg-color);
    color: var(--th-color);
}

table > thead > tr > th:nth-child(1) {
    width: 30%;
}

table > thead > tr > th:nth-child(2), table > thead > tr > th:nth-child(3) {
    width: 10%;
}

table > thead > tr > th:nth-child(1n+4) {
    width: 20%;
}

table td {
    border-bottom: 1px solid var(--td-border-color);
}

img {
    width: 1rem;
    height: 1.5rem;
    object-fit: cover;
    vertical-align: top;
    margin: 0 0.25rem 0 0;
}

img.large {
    width: 4rem;
    height: 6rem;
    margin: 0 0.5rem 1rem 0;
    object-fit: contain;
    float: left;
}

img.large + ul + * {
    clear: both;
}

@font-face {
    font-family: Inter;
    src: url(https://tinybase.org/fonts/inter.woff2) format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    user-select: auto;
    font-family: Inter, sans-serif;
    letter-spacing: -0.04rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0;
    color: #333;
}

main {
    padding: 0.5rem 0;
}

main.not-tab {
    padding: 0.5rem;
}

h1 {
    margin: 0 0 1rem;
}

h2 {
    margin: 1.5rem 0 0.5rem;
}

ul {
    padding-left: 0;
}

li {
    display: block;
    padding-bottom: 0.25rem;
}

a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.2rem;
}

.hide-col {
    display: none;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: var(--nav-bkg-color);
}

a.awesome:hover {
    text-decoration: none;
}

.w3-theme-border {
    border-color: var(--nav-bkg-color-current) !important;
    border-width: 3px;
    border-style: solid;
    margin-top: 20px;
    /*font-size: 15px;*/
    padding: 5px 10px;
    border-radius: 25px;
}


/**/

.page-header-content {
    position: relative;
    background-color: inherit;
    padding: 0 0.5rem
}

.page-title {
    padding-top: 8px;
    display: block;
    position: relative
}


.heading-elements {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 38px;
    margin-top: -11px
}

.heading-elements .heading-btn-group {
    font-size: 0
}

.btn {
    letter-spacing: -0.04rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    text-overflow: ellipsis;
    max-width: 100%;
    text-decoration: none;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    border-radius: 3px;
    box-shadow: none;
    transition: all ease-in-out 0.15s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    user-select: none;
    line-height: 1.6666667;
    text-transform: uppercase;
    padding: 7px 3px 2px 3px;
    margin-top: -8px;
}


.btn:active {
    background-color: #F2F2F2;
}

.btn:hover {
    text-decoration: none;
}