<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:fragment="head(title)">
    <title th:if="${!#strings.isEmpty(title)}" th:text="${#strings.capitalize(title)}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/awesome.css}">
</head>

<nav th:fragment="nav(cat)">
    <a href="/movies" class="row" th:classappend="${cat == 'movies'} ? current">Movies</a>
    <a href="/years" class="row" th:classappend="${cat == 'years'} ? current">Years</a>
    <a href="/genres" class="row" th:classappend="${cat == 'genres'} ? current">Genres</a>
    <a href="/directors" class="row" th:classappend="${cat == 'directors'} ? current">Directors</a>
    <a href="/countries" class="row" th:classappend="${cat == 'countries'} ? current">Countries</a>
    <a href="/users" class="row" th:classappend="${cat == 'users'} ? current">Clients</a>
</nav>

<div th:fragment="baseHeader(pageTitle, buttons, edit)" class="page-header-content">
    <div class="page-title">
        <h1 th:replace="${pageTitle}">Movies</h1>
    </div>

    <div class="heading-elements">
        <div class="heading-btn-group">
            <th:block th:replace="${buttons}"></th:block>
            <th:block th:if="${edit != null}">
                <a href="/add" class="btn" style="margin-right: 20px"><i class="fai fa-file-text-o"></i><span>Add movie</span></a>
                <a th:href="${edit} ? '/movies' : '/movies_edit'" th:styleappend="${edit} ? 'background-color: #F2F2F2;'" style="margin-right: 10px;" class="btn btn-link">
                    <i class="fai fa-edit"></i><span>Edit movies</span>
                </a>
            </th:block>
        </div>
    </div>
</div>

<th:block th:fragment="editHeader(hTitle)">
    <th:block th:replace=":: baseHeader(_,~{:: .edit}, true)">

        <th:block class="edit">
            <label id="update-from-json" for="hidden-button" class="btn" style="margin-right: 15px" onclick="return actions(this)">
                <i class="fai fa-arrow-up"></i><span>Replace from Json</span>
            </label>

            <label id="delete-all" for="hidden-button" class="btn" style="margin-right: 15px" onclick="return actions(this)">
                <i class="fai fa-trash-o"></i><span>Delete all</span>
            </label>

            <form style="display: none" action="/movies_edit" method="post">
                <input type="hidden" id="hidden-input" name="value">
                <button type="submit" id="hidden-button"></button>
            </form>

        </th:block>

    </th:block>
</th:block>
</html>