<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/general :: head('')"/>
    <title>Movie</title>
    <style>
        h2.rent {
            margin-bottom: 0;
            margin-top: 0;
        }

        p.rent-cap {
            margin-bottom: 0;
            font-weight: bold;
        }

        span.rent-bold {
            font-weight: bold;
        }
        span.rent {
            font-weight: normal;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/general :: nav('')"/>
<main class="not-tab" th:object="${movie}">
    <th:block th:replace="fragments/general :: baseHeader(~{::h1},~{::.card-action}, null)">
        <h1 th:inline="text">[[*{name}]]</h1>

        <th:block class="card-action">
            <a th:if="${rentInfo.avail() > 0}" th:href="@{/rent(movie_id=*{id})}" class="btn" style="margin-right: 20px">
                <i class="fai fa-camera"></i><span>Rent movie</span>
            </a>
            <a th:if="${rentInfo.rentCount > 0}" th:href="@{/rent-out(movie_id=*{id})}" style="margin-right: 10px;" class="btn">
                <i class="fai fa-video-camera"></i><span>Return rent</span>
            </a>
        </th:block>

    </th:block>

    <img th:if="${!#strings.isEmpty(movie.posterPath)}" th:src="
    ${#strings.startsWith(movie.posterPath, '/')}
        ? 'https://image.tmdb.org/t/p/w92' + *{posterPath}
        : *{posterPath}
    " class="large" alt="" src="">

    <img th:if="${#strings.isEmpty(movie.posterPath)}" th:src="@{/assets/poster-placeholder.png}" class="large" alt="" src="">

    <ul>
        <li>Year: <a th:href="@{/movies(year=*{year})}" th:text="*{year}"/></li>
        <li>Genres:
            <th:block th:each="genre,iter : *{genres}">
                <a class="row" th:href="@{/movies(genre=${genre.name})}" th:text="${genre.name}"/><span th:if="${!iter.last}">, </span>
            </th:block>
        </li>
        <li th:text="'Rating: ' + *{rating}"></li>
    </ul>
    <p th:text="*{description}"></p>
    <h2>Directors:</h2>
    <th:block th:each="d,iter : *{directors}">
        <a class="row" th:href="@{/movies(director=${d.name})}" th:text="${d.name}"/><span th:if="${!iter.last}">, </span>
    </th:block>
    <h2>Countries:</h2>
    <th:block th:each="country,iter : *{countries}">
        <a class="row" th:href="@{/movies(country=${country.name})}" th:text="${country.name}"/><span th:if="${!iter.last}">, </span>
    </th:block>
    <hr>
    <h2 class="rent">Rent info:</h2>
    <p class="rent-cap">Total count: <span class="rent" th:text="${movie.diskCount}"></span></p>

    <p class="rent-cap">Available for rent:
    <span class="rent-bold" th:styleappend="${rentInfo.avail() == 0} ? 'color: red;' : 'color: forestgreen;'"
          th:text="(${rentInfo.avail() == 0} ? '0' : ${rentInfo.avail()})"></span>
    </p>
    <p class="rent-cap">Rent count: <span class="rent" th:text="${rentInfo.rentCount}"></span></p>
    <th:block th:inline="text">
        <th:block>
            <th:block th:each="o, iter : ${rentInfo.map}">
                <span th:text="${o.key.name} + ': '"></span> <span th:text="${o.value.size()}"></span><span th:if="${!iter.last}">, </span>
            </th:block>
        </th:block>
    </th:block>
</main>
</body>
</html>

