<!DOCTYPE html>
<html class="no-touch" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Video rental</title>


    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" type="text/css">

</head>
<body class="no-theme">


<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-container" style="min-height:970px">
            <!--MAIN area-->


            <div class="panel panel-default" style="margin-top: 100px;">

                <div class="panel-heading">
                    Rental service
                </div>

                <div class="panel-body">
                    <a href="/movies">Movies</a><br/>
                    <a href="/users">Clients</a>
                </div>

            </div>
            <div class="text-muted text-size-small text-center">Copyright 2023<br>© <a href="#">Video rental service</a> All rights reserved.
            </div>


            <!--MAIN area-->
        </div>
    </div>
</div>



</body>
</html>