<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="fragments/general :: head(${cat.plural})"/>
<body>
<th:block th:replace="fragments/general :: nav(${cat.plural})"></th:block>
<main>
    <th:block th:replace="fragments/general :: baseHeader(~{::h1},~{}, false)">
        <h1 th:text="${#strings.capitalize(cat.plural)}"></h1>
    </th:block>

    <table>
        <thead>
        <tr>
            <th th:text="${#strings.capitalize(cat.singular)}"></th>
            <th>Movies count</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:switch="${cat.singular}">
            <th:block th:case="'year'">
                <tr th:each="e : ${set}">
                    <td><a class="row" th:href="@{/movies(year=${e.key})}" th:text="${e.key}"/></td>
                    <td th:text="${e.value}">6</td>
                </tr>
            </th:block>
            <th:block th:case="*">
                <tr th:each="e : ${list}">
                    <td><a class="row" th:href="@{/movies(${cat.singular}=${e.name})}" th:text="${e.name}"/></td>
                    <td th:text="${e.movies.size()}">6</td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>
</main>

</body>
</html>