<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="fragments/general :: head('Movies')"/>
<body>
<th:block th:replace="fragments/general :: nav('movies')"/>
<main>
    <th:block th:replace="fragments/general :: baseHeader(~{::h1},~{}, false)">
        <H1 th:if="${entry == null}" th:text="'Movies'"></H1>
        <h1 th:if="${entry != null}">
            <th:block th:if="${entry.key == 'year'}" th:text="'Movies from ' + ${entry.value}"></th:block>
            <th:block th:if="${entry.key == 'genre'}" th:text="${#strings.capitalize(entry.value)} + ' movies'"></th:block>
            <th:block th:if="${entry.key == 'director'}" th:text="'Movies by ' + ${entry.value}"></th:block>
            <th:block th:if="${entry.key == 'country'}" th:text="'Movies from ' + ${entry.value}"></th:block>
        </h1>
    </th:block>

    <table>
        <thead>
        <tr>
            <th>Movie</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Genres</th>
            <th>Countries</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${movies}">
            <td><a class="row" th:href="@{/movie(id=${m.id})}" th:text="${m.name}"/></td>
            <td>
                <a class="row" th:href="@{/movies(year=${m.year})}" th:text="${m.year}"/>
            </td>
            <td th:text="${m.rating}"/>

            <td>
                <th:block th:each="d,iter : ${m.directors}">
                    <a class="row" th:href="@{/movies(director=${d.name})}" th:text="${d.name}"/><span th:if="${!iter.last}">, </span>
                </th:block>
            </td>
            <td>
                <th:block th:each="genre,iter : ${m.genres}">
                    <a class="row" th:href="@{/movies(genre=${genre.name})}" th:text="${genre.name}"/><span th:if="${!iter.last}">, </span>
                </th:block>
            </td>
            <td>
                <th:block th:each="country,iter : ${m.countries}">
                    <a class="row" th:href="@{/movies(country=${country.name})}" th:text="${country.name}"/><span th:if="${!iter.last}">, </span>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</main>


</body>
</html>