<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/general :: head('')"/>
    <title>Edit movies</title>

    <script>
        function actions(obj) {
            let text;
            let input = document.getElementById("hidden-input");
            if (obj.id === 'delete-all') {
                text = 'Delete all movies?'
                input.value = 'delete-all'
            } else if (obj.id === 'update-from-json') {
                text = 'All data will be replaced with TOP movies from TMDB.\nAre you sure?'
                input.value = 'update-from-json'
            } else {
                text = 'Delete the movie?'
            }
            return confirm(text);
        }
    </script>

</head>
<body>
<th:block th:replace="fragments/general :: nav('')"/>
<main>
    <th:block th:replace="fragments/general :: editHeader('Movies')"/>

    <table id="movies">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Genres</th>
            <th>Countries</th>
            <th style="width: 10%;">Disk count</th>
            <th style="width: 5%;">Del</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${movies}">
            <td>
                <a class="row" th:href="@{/edit(id=${m.id})}" th:text="${m.name}">Edit</a>
            </td>
            <td th:text="${m.year}"></td>
            <td th:text="${m.rating}"/>
            <td th:text="${m.directors.size() > 0} ? ${m.directors.iterator().next().name} + (${m.directors.size() > 1} ? ', …' : '')">
            </td>
            <td th:text="${m.genres.size() > 0} ? ${m.genres.iterator().next().name} + (${m.genres.size() > 1} ? ', …' : '')">
            </td>
            <td th:text="${m.countries.size() > 0} ? ${m.countries.iterator().next().name} + (${m.countries.size() > 1} ? ', …' : '')">
            </td>
            <td th:text="${m.diskCount}"></td>
            <td><a class="awesome" th:href="@{/delete(id=${m.id})}" onclick="return actions(this)"><i class="fa fa-trash-o"></i>&nbsp;</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>

