<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/awesome.css}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./../static/form.css" th:href="@{/form.css}">
    <script src="./../static/script.js" th:src="@{/script.js}"></script>
</head>
<body onload="floatLabel('.floatLabel')">

<form th:action="@{add_edit_movie}" method="post" th:object="${movieDto}">
    <!--  General -->
    <div class="form-group">
        <h2 class="heading"><th:block th:text="${movieDto.id == null ? 'Add' : 'Edit'}"></th:block> movie</h2>
        <input type="hidden" th:field="*{id}" required>
        <div class="controls">
            <input type="text" id="name" class="floatLabel" required name="name" th:field="*{name}">
            <label for="name">Name</label>
        </div>
        <div class="controls">
            <input id="year" type="number" class="floatLabel" name="year" placeholder="0" th:field="*{year}">
            <label for="year">Year</label>
        </div>
        <div class="controls">
            <input type="number" id="rating" name="rating" th:field="*{rating}" placeholder="0.0" step="0.1" min="0" max="10" class="floatLabel">
            <label for="rating">Rating</label>
        </div>
        <div class="controls">
            <input type="text" id="directors" name="directorsStr" th:field="*{directorsStr}" class="floatLabel">
            <label for="directors">Directors</label>
        </div>
        <div class="controls">
            <input type="text" id="genres" name="genresStr" th:field="*{genresStr}" class="floatLabel">
            <label for="genres">Genres</label>
        </div>
        <div class="controls">
            <input type="text" id="countries" name="countriesStr" th:field="*{countriesStr}" class="floatLabel">
            <label for="countries">Countries</label>
        </div>
    </div>
    <!--  Details -->
    <div class="form-group">
        <h2 class="heading">Details</h2>
        <div class="grid">
            <div class="col-1-2 col-1-3-sm">
                <div class="controls">
                    <div class="controls">
                        <input type="number" id="count" required name="count" th:field="*{diskCount}" class="floatLabel" min="1">
                        <label for="count"><i class="fa fa-film"></i>&nbsp;&nbsp;Count</label>
                    </div>
                </div>
            </div>
            <div class="col-1-2 col-1-3-sm">
                <div class="controls">
                    <div class="controls">
                        <div class="controls">
                            <input type="text" id="other" name="other" class="floatLabel" th:field="*{posterPath}">
                            <label for="other"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Other</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid">
            <p class="info-text">Please describe a movie:</p>
            <br>
            <div class="controls">
                <textarea name="description" id="description" class="floatLabel" th:field="*{description}"></textarea>
                <label for="description">Description</label>
            </div>
            <button type="submit" value="Submit" class="col-1-4">Submit</button>
        </div>
    </div>
</form>


</body>
</html>
